body {
    background-color: #222222;
}
:root {
    --bs-body-bg: #222222;
    --bs-section-bg: #000000;
    --bs-body-color: #ffffff;
    --bs-secondary-color: #9ca3af;
}
section {
    background-color: var(--bs-section-bg);
}
.pg-link {
    color: var(--bs-txt-color);
    background-color: var(--bs-body-bg);
}
form input, form button {
    background-color: var(--bs-body-bg);
}
form button {
    width: auto !important; 
}
.pointer {
    cursor: pointer !important;
}

nav {
    background-color: #404040;
    position: fixed;
}
table th, table td {
    border-color: #555555 !important;
}