<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="text-white">
    <header class="p-5 rounded-3 text-center text-white mt-4">
        <h1>Welcome to Taskly</h1>
        <div>
            <a href="/about" class="btn btn-dark">About</a>
            <a href="/contact" class="btn btn-dark">Contact</a>
        </div>
    </header>

    <main>
        <div class="row flex justify-content-center">
            <section class="col-md-5 p-4 text-white rounded-3 m-3 pointer" onclick="window.location.href='/tasks'">
                    <h2>Your Tasks</h2>
                    <table style="height: 300px; overflow: auto;">
                        <tr>
                            <th>Task Name</th>
                            <th>Due Date</th>
                            <th>Subject</th>
                            <th>Status</th>
                        </tr>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.deadline }}</td>
                            <td>{{ task.subject }}</td>
                            <td>{{ task.status }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                <hr>
                <h3>Add a New Task</h3>
                <form action="/add-task" method="POST" class="input-group">
                    <input type="text" name="task" placeholder="Enter your task name" class="form-control" required>
                    <button type="submit" class="text-white border-white form-control flex-grow-0 text-nowrap">
                        Add Task
                    </button>
                </form>
            </section>

            <section class="col-md-5 p-4 text-white rounded-3 m-3 pointer" onclick="window.location.href='/events'">
                    <h2>Your Upcoming Events</h2>
                    <table style="height: 300px; overflow: auto;">
                        <tr>
                            <th>Event Name</th>
                            <th>Event Date</th>
                            <th>Subject</th>
                            <th>Preperation Status</th>
                        </tr>
                        {% for event in events %}
                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.date }}</td>
                            <td>{{ event.subject }}</td>
                            <td>{{ event.status }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                <hr>
                <h3>Add a New Event</h3>
                <form action="/add-event" method="POST" class="input-group">
                    <input type="text" name="task" placeholder="Enter your event name" class="form-control" required>
                    <button type="submit" class="text-white border-white form-control flex-grow-0 text-nowrap">
                        Add Event
                    </button>
                </form>
            </section>
        </div>
    </main>

    <section class="row text-white text-center m-4 col-11 mx-auto p-4 rounded-3">
        <h2>Recently visited pages</h2><br><br>
        <div class="d-flex justify-content-center flex-wrap">
            {% for page in recent_pages %}
            <a href="{{ page.url }}" class="btn m-2 pg-link">{{ page.title }}</a>
            {% endfor %}
    </section>

    <footer class="text-center p-4 border-top text-white">
        <p>&copy; 2025 Taskly. All rights reserved.</p>
    </footer>
</body>

</html>